*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'poppins' , sans-serif;
    font-size:16px;
    line-height:1.5;
    color:#333;
    background:#a1c3ff;
}

img{
    max-width:100%;
}

h1,h2{
list-style:none;
text-decoration:none;
}

ul{
    list-style:none;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    display:flex;
    justify-content:end;
    align-items:center;
    height: 100%;
}

ul>li{
    display: flex;
    padding:0 12px;
    height: 100%;
    align-items:center; 
    cursor: pointer;
}
.container{
    max-width:1100px;
    margin:0 auto;
}

.navbar{
    background:#3474c6;
    color:#fff;
    height:60px;
}

ul>li:hover{
    color: lightblue;
}

.logo{
    font-size:x-large;
    font-weight:bold;
}

.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

.header{
    background-color:#1a4680;
    color:#fff;
} 

.header h1{
    font-size:3rem;
    font-weight:bold;
    line-height:1.2;
}

.header img{
    max-width: 400px;
}

.header .container{
    display: flex;
    align-items:center;
    justify-content:space-between;
    Padding: 80px 0;
}

.Boxes .container{
    display: flex;
    justify-content: space-between;
}


.Boxes .container h2{
    display: flex;
    flex-direction: column;
}

.Boxes .container .box h2 p{
padding: 16px 0;
}


.box{
    display: flex;
    flex-direction: column;
    Flex:1;
    background-color:#1a4680;
    color:#fff;
    border-radius: 14px;
    padding:24px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
}


@media(max-width:768px){
    .header .container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .header .container img{
        Margin-top:24px;
        border-radius: 18px;
    }

    .header .container p{
        margin-top:12px;
        max-width:400px;
        text-align: center;
    }

    .Boxes .container{
        display: flex;
        flex-direction: column;
        padding: 0 24px;
    }

}